.btn:focus {
    box-shadow: none;
    outline: none;
}

/*.btn:focus{*/
/*    box-shadow: 0 0 0 .25rem rgba(241, 102, 34, 0.2); !*menambahkan shadow baru pada focus*!*/
/*}*/


.button-icon-text {
    border-radius: 0.37rem;
    text-align: left;
    min-width: 100%;
    max-width: 100%;
    padding: .62rem .75rem;
    gap: 8px;
    margin-top: .5rem;
}

.button-icon-text:hover {
    color: #F16622;
}

.button-sidebar-text-only-text {
    margin-top: .5rem;
    border-radius: 6px;
    color: #F16622;
    text-align: left;
    padding: .62rem .75rem .62rem 2.62rem;
    min-width: 100%;
    max-width: 100%;
    gap: 10px;
}


.button-sidebar-text-only-text:focus {
    color: #F16622;
}
