/* ---------------------------------------------------
    FONT STYLE DESIGN SYSTEM
----------------------------------------------------- */

/* ---------------------------------------------------
    DESCRIPTION
----------------------------------------------------- */
.description-1-medium {
    font-family: 'Poppins Regular';
    font-size: 0.87rem;
    line-height: 20px;
}
