/* ---------------------------------------------------
    FONT STYLE DESIGN SYSTEM
----------------------------------------------------- */

/* ---------------------------------------------------
    DESCRIPTION
----------------------------------------------------- */
.description-1-medium {
    font-family: 'Poppins Regular';
    font-size: 0.87rem;
    line-height: 20px;
}

.subtitle-1-bold {
    font-family: 'Poppins Bold';
    font-size: 24px;
    line-height: 32px;
}