
:root {
    font-size: 16px;
}

html {
    font-family: 'Poppins Regular';
}


/*-----------------------------------------------------
   WRAPPER STYLE
-------------------------------------------------------*/

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    PROGRESS BAR STYLE
----------------------------------------------------- */

#progress-bar {
    height: 5px;
    background-color: #F16622;
    width: 0%;
    transition: width 0.5s ease-in-out;
}


/* ---------------------------------------------------
    NAVBAR STYLE
----------------------------------------------------- */
.content-navbar {
    padding: 2rem 1.25rem 1.87rem 1.25rem;
}

.navbar-title {
    font-family: 'Poppins Bold';
    color: #F16622;
    font-size: 1.5rem;
    line-height: 2rem;
}

.navbar-subtitle {
    padding-left: 1rem;
    font-family: 'Poppins Regular';
    font-style: normal;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

#divider {
    max-width: 100%;
    border: 1px solid #E0E0E0;

}




