
:root {
    font-size: 16px;
}

html {
    font-family: 'Poppins Regular';
}


/*-----------------------------------------------------
   WRAPPER STYLE
-------------------------------------------------------*/

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

/*-----------------------------------------------------
   END WRAPPER STYLE
-------------------------------------------------------*/



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    END CONTENT STYLE
----------------------------------------------------- */



/* ---------------------------------------------------
    PROGRESS BAR STYLE
----------------------------------------------------- */

#progress-bar {
    height: 5px;
    background-color: #F16622;
    width: 0%;
    transition: width 0.5s ease-in-out;
}

/* ---------------------------------------------------
    END PROGRESS BAR STYLE
----------------------------------------------------- */

