/*-----------------------------------------------------
   TABLE STYLE
-------------------------------------------------------*/

/* Tambahkan border di table head*/
th {
    border-top: 1px solid #C2C2C2;
    border-bottom: 1px solid #C2C2C2 !important;
}

/* Hapus Border*/
tbody td,
tbody th {
    border-bottom: 1px solid #EDEDED;
}

td {
    padding: 2.5rem 0px !important;
}

.table-title-bordered {

}
